_flows/Store_news_articles.yml
id: Store_news_articles
namespace: newsProcessing

tasks:
  - id: trigger
    type: io.kestra.plugin.amqp.Consume
    url: amqp://guest:guest@host.docker.internal:5672/
    maxRecords: 2
    queue: news_articles.queue
    serdeType: JSON
    maxDuration: PT5S
  
  - id: write_to_csv
    type: io.kestra.plugin.serdes.csv.IonToCsv
    from: "{{ outputs.trigger.uri}}"
  
  - id: copy_in_PostgreSql
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://host.docker.internal:5432/
    format: CSV
    from: "{{outputs.write_to_csv.uri}}"
    password: mysecretpassword
    username: postgres
    
